.app-footer {
  width: 100%;
  padding: 1rem;
  background: var(--app-color-background);
  border-top: var(--app-size-border) solid var(--app-color-background-shade);

  .attr {
    width: 100%;
    text-align: center;
  }

  .links {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

    a {
      display: inline-block;
      padding: 0 1rem
    }
  }
}

@media only screen and (min-width: 768px) {

  .app-footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .attr {
      flex: 1;
      text-align: left;
    }

    .links {
      margin-top: 0;
    }
  }
}
