<header class="app-header">

  <div class="brand">
    <a [usefulRouterLink]="['']">
      <em><img src="/assets/images/logo.svg" alt="Angular Useful"></em>
      <span class="font-head">ngx-useful</span>
    </a>
  </div>

  <ul class="nav">
    <li>
      <a href="https://lamnhan.com/hire" target="_blank">Hire me</a>
    </li>
    <li>
      <a href="https://lamnhan.com/donate" target="_blank">Buy me coffee</a>
    </li>
  </ul>

  <div class="themer">
    <label class="form-switch">
      <input
        type="checkbox"
        [checked]="setting.theme==='dark'"
        (change)="toggleTheme($event)"
      />
      <span class="slider"></span>
    </label>
  </div>

  <div class="action">
    <a class="button-outline-light" href="https://github.com/lamnhan/ngx-useful" target="_blank">
      <i class="icon-light icon-github"></i>
      <span>Source code</span>
    </a>
  </div>

</header>
