<header class="header">

  <div class="brand">
    <a [routerLink]="['/']">
      <em><img src="/assets/images/logo.svg" alt="Angular Useful"></em>
      <span class="font-head">Useful</span>
    </a>
  </div>

  <ul class="nav">
    <li>
      <a href="https://lamnhan.com/hire" target="_blank">Hire me</a>
    </li>
    <li>
      <a href="https://lamnhan.com/donate" target="_blank">Buy me coffee</a>
    </li>
  </ul>

  <div class="themer">
    <label class="switch">
      <input
        type="checkbox"
        [checked]="setting.theme==='dark'"
        (change)="toggleTheme($event)"
      />
      <span class="slider round"></span>
    </label>
  </div>

  <div class="action">
    <a class="button-outline" href="https://github.com/lamnhan/ngx-useful" target="_blank">
      <i class="icon icon-github"></i>
      <span>Source code</span>
    </a>
  </div>

</header>
