.oops-page {
  text-align: center;
  margin-top: 3rem;

  .body {

    img {
      width: 100%;
      max-width: 100px;
    }

    p {
      margin: .5rem 0;
    }
  }

  .foot {

    a {
      display: inline-block;
      margin-top: 1rem;
    }
  }

}
