<div class="app-header2nd">
  <ul class="nav">
    <li>
      <a
        [usefulRouterLink]="['']"
        usefulRouterLinkActive="active"
        [usefulRouterLinkActiveOptions]="{exact: true}">Home</a>
    </li>
    <li>
      <a [usefulRouterLink]="['guides']" usefulRouterLinkActive="active">Guides</a>
    </li>
    <li>
      <a [usefulRouterLink]="['services']" usefulRouterLinkActive="active">Services</a>
    </li>
    <li>
      <a [usefulRouterLink]="['pipes']" usefulRouterLinkActive="active">Pipes</a>
    </li>
    <li>
      <a [usefulRouterLink]="['directives']" usefulRouterLinkActive="active">Directives</a>
    </li>
    <li>
      <a [usefulRouterLink]="['guards']" usefulRouterLinkActive="active">Guards</a>
    </li>
  </ul>
</div>