<div class="home-page">

  <section class="head">

    <div class="image">
      <img src="/assets/images/featured.jpg" alt="Angular Useful">
    </div>

    <div class="text">
      <h1>Angular Useful</h1>
      <p>A collection of Angular useful services, pipes, ...</p>
    </div>
  
    <div class="cta">
      <a
        class="button-primary-xl"
        [usefulRouterLink]="['guides']"
      >Use it now!</a>
      <a
        class="source-code button-outline-medium-xl"
        href="https://github.com/lamnhan/ngx-useful"
        target="_blank"
      >
        <i class="icon icon-github"></i>
        <span>Source code</span>
      </a>
    </div>

  </section>

  <section class="features">

    <div class="title">Why?</div>

    <ul class="content">
      <li>XXX</li>
    </ul>
    
  </section>
  
  <section class="install">

    <div class="title">How?</div>

    <div class="content">
      <p>To install: <code>npm install --save @lamnhan/ngx-useful@0.0.8</code></p>
    </div>

  </section>

</div>
