.home-page {

  section {

    .title {
      font-family: var(--app-font-head);
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: .5rem;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;

      &::before {
        display: block;
        content: '';
        width: 7rem;
        height: 1.7rem;
        margin-right: 2rem;
        background: var(--app-color-medium);
      }
    }
  }

  .heading {
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    background: var(--app-color-background-shade);
    border-bottom: .25rem solid var(--app-color-medium);

    .image {

      &, img {
        width: 100%;
      }
    }

    .text {
      margin-top: 2rem;
      padding: 0 1rem;
  
      h1 {
        font-size: 4rem;
        font-weight: 700;
      }
  
      p {
        font-size: 2rem;
        color: var(--app-color-medium);
      }
    }
  
    .cta {
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
  
      a.source-code {
        display: flex;
        align-items: center;
        margin-top: 1rem;
  
        .icon {
          opacity: .5;
        }
  
        span {
          margin-left: 1rem;
        }
      }
    }
  }

  .features {
    padding: 1rem;

    .title {

      &::before {
        background: var(--app-gradient-success);
      }
    }

    ul.content {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;

      li {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: 1rem;

        .thumbnail {
          width: 5rem;
          height: 5rem;
          padding: 1rem;
          border-radius: 100%;
          background: var(--app-color-background-shade);

          img {
            width: 100%;
          }
        }

        .text {
          flex: 1;
          max-width: calc(100% - 7rem);
          margin-left: 2rem;

          h3 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  
  .getting-started {
    padding: 1rem;
    margin-top: 2rem;
    
    .title {

      &::before {
        background: var(--app-gradient-secondary);
      }
    }

    ul.content {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;

      li {
        width: 100%;
        margin-bottom: 2rem;
        border: 1px solid var(--app-color-foreground);

        .head {
          padding: .5rem 1rem;
          background: var(--app-color-foreground);
          color: var(--app-color-background);
        }

        .body {
          padding: 1rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 480px) {

  .home-page {

    .heading {

      .text h1 {
        font-size: 5rem;
      }
  
      .cta {
        flex-wrap: nowrap;
  
        a.source-code {
          margin-top: 0;
          margin-left: 1rem;
        }
      }
    }

  }
}

@media only screen and (min-width: 576px) {

  .home-page {

    .heading .text h1 {
      font-size: 6rem;
    }
  }
}

@media only screen and (min-width: 768px) {

  .home-page {

    .heading .text h1 {
      font-size: 7rem;
    }

    .features {

      ul.content {
        margin-left: -1rem;
        
        li {
          width: calc(50% - 2rem);
          margin-left: 1rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {

  .home-page {

    .heading .text h1 {
      font-size: 8rem;
    }

    .getting-started {

      ul.content {
        margin-left: -1rem;
        
        li {
          width: calc(50% - 2rem);
          margin-left: 1rem;
        }
      }
    }
  }
}