<div class="home-page">

  <div class="heading">
    <h1>Angular Useful</h1>
    <p>A collection of useful components, services, ...</p>
  </div>

  <div class="cta">
    <a
      class="button-primary-xl"
      [routerLink]="['/getting-started', 'install']"
    >Use it now!</a>
    <a
      class="source-code button-outline-medium-xl"
      href="https://github.com/lamnhan/ngx-useful"
      target="_blank"
    >
      <i class="icon icon-github"></i>
      <span>Source code</span>
    </a>
  </div>

</div>
