.home-page {

  section {

    .title {
      font-family: var(--app-font-head);
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    .content {
      margin-top: 2rem;
    }
  }

  .head {
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    background: var(--app-color-background-shade);

    .image {

      &, img {
        width: 100%;
      }
    }

    .text {
      margin-top: 2rem;
      padding: 0 1rem;
  
      h1 {
        font-size: 4rem;
        font-weight: 700;
      }
  
      p {
        font-size: 2rem;
        color: var(--app-color-medium);
      }
    }
  
    .cta {
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
  
      a.source-code {
        display: flex;
        align-items: center;
        margin-top: 1rem;
  
        .icon {
          opacity: .5;
        }
  
        span {
          margin-left: 1rem;
        }
      }
    }
  }

  .features {
    padding: 1rem;
  }
  
  .install {
    padding: 1rem;
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 480px) {

  .home-page {

    .head {

      .text h1 {
        font-size: 5rem;
      }
  
      .cta {
        flex-wrap: nowrap;
  
        a.source-code {
          margin-top: 0;
          margin-left: 1rem;
        }
      }
    }

  }
}

@media only screen and (min-width: 576px) {

  .home-page {

    .head .text h1 {
      font-size: 6rem;
    }
  }
}

@media only screen and (min-width: 768px) {

  .home-page {

    .head .text h1 {
      font-size: 7rem;
    }
  }
}

@media only screen and (min-width: 992px) {

  .home-page {

    .head .text h1 {
      font-size: 8rem;
    }
  }
}