/* You can add global styles to this file, and also import other style files */

/**
 * ====================================================
 * 3rd parties
 * ====================================================
 */

// prismjs
@import 'prismjs/themes/prism-okaidia.css';
@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';

/**
 * ====================================================
 * Unistylus
 * ====================================================
 */

// register skins
@import '../../unistylus/projects/unistylus/src/scss/skins/light-default';
@import '../../unistylus/projects/unistylus/src/scss/skins/dark';

// modify "default" and "dark" skin
:root,
[data-theme=default],
[data-theme=light],
[data-theme=dark]
{
  --app-font-head: 'Poppins', sans-serif;
  --app-font-body: 'Roboto', sans-serif;
}

// register soul
@import '../../unistylus/projects/unistylus/src/scss/souls/bootstrap/full';

// register app
@import './theming/app.module';

/**
 * ====================================================
 * App styles 
 * ====================================================
 */

app-content markdown {

  h1 {
    display: none;
  }

  h2 {

    &, strong, a, code, a:hover {
      font-family: var(--app-font-head);
      font-weight: 700;
      font-size: 1.7rem;
      color: var(--app-color-foreground);
      background: none;
      text-decoration: none;
    }

    p {
      display: inline;
    }
  }
  
  h2 + p {

    &, strong, a, code {
      font-family: var(--app-font-body);
      font-size: 1.3rem;
      font-weight: normal;
      color: var(--app-color-medium);
      background: none;
    }
  }
  
  h3 {
    margin: 3rem 0 1rem;

    &, strong, a, code, a:hover {
      font-size: 1.5rem;
    }
  
    p {
      display: inline;
    }
  }

  h4 {
    margin: 2rem 0 1rem;

    &, strong, a, code, a:hover {
      color: var(--app-color-primary);
      font-size: 1.2rem;
      font-weight: 700;
      background: none;
    }

    p {
      display: inline;
    }
  }

  h4 + p {

    &, strong, a, code {
      font-family: var(--app-font-body);
      font-size: 1rem;
      font-weight: normal;
      color: var(--app-color-medium);
      background: none;
    }
  }

  code {

    &, a {
      display: inline-block;
      padding: 0 .25rem;
      background: var(--app-color-background-shade);
      color: var(--app-color-foreground);
      border-radius: 100rem;
    }
  }

  table {
    @extend .table;

    thead tr th {
      font-weight: normal;
      color: var(--app-color-medium);
    }
  }

  table + p {
    margin-top: 1rem;
  }

  table + h4 {
    margin-top: 3rem;
  }

  hr {
    color: var(--app-color-background-shade);
  }
}