@import '@unistylus/core/scss/mixins';

$shared_icons: (
  github-light: '#{$bootstrap_icons}/dark/github.svg'
);

// light theme
$light_theme_icons: (
  github: '#{$bootstrap_icons}/light/github.svg',
  menu: '#{$bootstrap_icons}/light/list.svg'
);

// dark theme
$dark_theme_icons: (
  github: '#{$bootstrap_icons}/dark/github.svg',
  menu: '#{$bootstrap_icons}/dark/list.svg'
);

@include register_app_icons(
  (
    light: $light_theme_icons,
    dark: $dark_theme_icons,
    default: map-merge($shared_icons, $light_theme_icons),
  )
);